<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <link name="base_link" />
  <xacro:sensor_d435 parent="base_link" name="camera" use_nominal_extrinsics="true" add_plug="true" use_mesh="true">
      <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>

  <!-- <link name="base_link" /> -->
  <!-- <sensor_d435 parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </sensor_d435> -->

</robot>